dist/
node_modules/
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production